<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Account type</th>
            <th>Date created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts" (click)="onAccountClicked(account)">
            <td>{{account?.accountType}}</td>
            <td>{{account?.dateCreated | date: 'dd/MM/yyyy'}}</td>
            <td><button type="button" id="delete" class="btn btn-danger"   (click)="redirectToDeletePage(account.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
